#java specific
*.class

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# Netbeans ignore stuff
.sbt-hack-lock
/nbproject/private/
/build/

# Eclipse ignore stuff
.cache
.project
.classpath
