#java specific
*.class

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# Eclipse ignore stuff
.cache
.project
.classpath

# Netbeans ignore stuff
.sbt-hack-lock
/nbproject/private/
/build/
/Gdx/release/
/Gdx/build/
/Gdx/nbproject/private/
/SBTModule/target/
/SBTModule/project/target/
/SBTModule/nbproject/private/
/MavenTest/target/
/scala-library/build/
/MapEditor/build/
/MapFileType/build/
/MapFileType/nbproject/private/
/SBTModule/build/

/starkengine_2.9.1-0.1-SNAPSHOT/build/
/dist/
/MapNavigator/build/
/MapNavigator/nbproject/private/